@page
@model TmkSelersWeb.Pages.ModeloRealizarLlamada.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].Prospecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlamadosProspectos[0].Respuesta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LlamadosProspectos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prospecto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta.Respuesta)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdLlamadosProspectos">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdLlamadosProspectos">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdLlamadosProspectos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
